.site-footer {
  @include clearfix();
  padding: 2em 0;
  height: auto;
  width: 100%;
  
  // to make it less jarring when StickFooter.js moves it on pageload
  opacity: 0;
  
  // fallback for no-js and callback for StickyFooter.js
  .loaded &,
  .no-js & {
    opacity: 1;
  }

  .footer-inner {
    @include grid-row();
    text-align: center;
    border-top: 1px solid fade-out($body-font-color, .8);
    padding-top: 2em;

    p {
      font-size: emCalc(12px);
      font-family: $el-sans;
      font-style: italic;
    }

  }

}